
<div class="m1">
<h1>Home Page</h1>
<h4>A home page is a webpage that serves as the starting point of website. It is the default webpage that loads when you visit a web address that only contains a domain name. For example, visiting https://techterms.com will display the Tech Terms home page.
    
    The home page is located in the root directory of a website. Most web server allow the home page to have one of several different filenames. Examples include index.html, index.htm, index.shtml, index.php, default.html, and home.html. The default filename of a website's home page can be customized on both Apache and IIS servers. Since the home page file is loaded automatically from the root directory, the home page URL does not need need to include the filename.
    
    There is no standard home page layout, but most home pages include a navigation bar that provides links to different sections within the website. Other common elements found on a home page include a search bar, information about the website, and recent news or updates. Some websites include information that changes every day. For example, the Tech Terms home page includes a daily quiz and tech term of the day.</h4>
</div>
<div class="container">
    <div class="one">
        <img src="https://images.unicartapp.com/image/senghuat/image/data/Categories%20/300x300-home-appliances-new.jpg"/>
    </div>
</div>
